<% if current_user == message.user %>
  <div class="message user-message" id="message-<%= message.id %>" data-sender-id="<%=current_user.id%>">
      <div class="mx-2">
        <small>
          <div><strong><%= message.user.first_name %></strong></div>
          <i class="pr-0"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
      <% if message.user.photo.attached? %>
        <%= cl_image_tag message.user.photo.key, class: "avatar"%>
      <% else %>
        <i class="fas fa-chess-knight navbar-empty-avatar"></i>
      <% end %>
  </div>
<% else %>
  <div class="message o-user-message" id="message-<%= message.id %>">
    <% if message.user.photo.attached? %>
      <%= cl_image_tag message.user.photo.key, class: "avatar"%>
    <% else %>
      <i class="fas fa-chess-knight navbar-empty-avatar"></i>
    <% end %>
    <div class="mx-2">
      <small>
        <div><strong><%= message.user.first_name %></strong></div>
        <i class="pr-0"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
<% end %>
