<%= form_tag new_party_session_guest_path, class:"d-flex mb-3", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your guests !"
  %>
  <%= button_tag type: 'submit', class: "bg-search-none" do %>
    <i class="fas fa-search thumb-icon-games"></i>
  <% end %>
<% end %>
<%= simple_form_for [@party_session, @guest] do |form| %>
  <%= form.collection_check_boxes :user_id, @users, :id, :email do |b| %>
    <div class="party-card mb-3" data-controller="highlight-guest" data-action="click->highlight-guest#highlight" data-highlight-guest-target="guest">
      <div class="d-flex align-items-center">
        <% if b.object.photo.attached? %>
          <%= cl_image_tag b.object.photo.key, class: "avatar-large"%>
        <% else %>
          <i class="fas fa-chess-knight navbar-empty-avatar-large"></i>
        <% end %>
        <div class="ml-2 wrap-text-overflow">
          <%= b.object.first_name + " " + b.object.last_name %>
          <div style="font-size: 12px"><%= b.object.email %></div>
        </div>
      </div>
      <%= b.check_box data: {highlight_guest_target: "checkbox"}, style:"display:none;" %>
      <div>
        <i class="fas fa-plus-circle"></i>
        </div>
    </div>
  <%# b.label(class: "my-#{ b.object.class.name.parameterize }", 'data-value': b.value) { b.check_box + b.text } %>
  <% end %>
  <div class="d-flex justify-content-center mb-3">
    <%= form.submit "Send Invites", class: "btn btn-success mr-3" %>
    <%= link_to "Back", party_session_guests_path(@party_session), class: "btn btn-secondary" %>
  </div>
<% end %>
