<%= simple_form_for [@party_session, @guest] do |form| %>
  <%= form.collection_check_boxes :user_id, @users, :id, :email do |b| %>
  <p><%= b.object.first_name + " " + b.object.last_name %><%= b.check_box %></p>
  <p><%= b.object.email %></p>
  <%# b.label(class: "my-#{ b.object.class.name.parameterize }", 'data-value': b.value) { b.check_box + b.text } %>
  <% end %>
  <%= form.submit "Send Invites", class: "btn btn-primary" %>
<% end %>
