<div class="container mt-3">
  <h2 class="mt-4" style="text-align: center">My Guests</h2>
  <% if @guests.first.party_session.end_date > DateTime.now %>
    <%= link_to "Invite your Guests", new_party_session_guest_path, class: "btn text-success"%>
  <% end %>
  <% @guests.each do |guest| %>
    <div class="party-card mb-3">
    <div class="d-flex align-items-center">
      <% if guest.user.photo.attached? %>
        <%= cl_image_tag guest.user.photo.key, class: "avatar-large" %>
      <% else %>
        <i class="fas fa-chess-knight navbar-empty-avatar-large"></i>
      <% end %>
      <div class="d-block ml-2">
        <%= guest.user.first_name %>
        <%= guest.user.last_name %>
        <div style="font-size: 10px">
          <%= guest.user.email %>
        </div>
      </div>
      </div>
      <div>
        <% if guest.party_session.end_date > DateTime.now && (guest.user != current_user)%>
          <%= link_to "Kick", guest_path(guest), method: :delete, data: {confirm: "Are you sure you want to remove this guest?"}, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
