<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">

  <% if user_signed_in? %>
    <% if current_user.photo.attached? %>
      <%= link_to "/", class:"link-to" do %>
        <%= cl_image_tag current_user.photo.key, class: "avatar"%>
      <% end %>
    <% else %>
      <%= link_to "/", class:"link-to" do%>
        <i class="fas fa-chess-knight navbar-empty-avatar"></i>
      <% end %>
    <% end %>
  <% else %>
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
  <% end %>
  <div>
  <% if user_signed_in? %>
    <a href="/party_sessions/new" class="btn create">Throw a Party?</a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <div class="dropdown-menudropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", "/party_sessions", class: "dropdown-item navi" %>
            <%= link_to "My Games", "/games", class: "dropdown-item navi" %>
            <%= link_to "My Account", "/users/edit", class: "dropdown-item navi" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item navi" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
