<div class="container mt-3 mb-2">
  <h2 class="mt-4" style="text-align: center">Games Tonight</h2>
  <%= link_to "Add your games", new_party_session_party_game_path, class: "btn text-success"%>
  <% unless @party_games.first.nil? %>
    <%= link_to "Votes", party_session_votes_path(@party_games.first.party_session_id), class: "btn btn-primary"%>
  <% end %>
    <% @party_games.each do |game| %>
      <div class="game-card-horizontal mb-3">
        <% if game.game.photo.attached? %>
          <%= cl_image_tag game.game.photo.key, height: 100, width: 200, crop: :fit%>
        <% else %>
          <%= image_tag asset_path("chess-piece.jpeg"), class: "game-card-img" %>
        <% end %>
        <div>
          <%= game.game.title %>
          <div>
            <%= link_to party_session_party_game_path(game.party_session_id, game.id) do%>
              <i class="fas fa-thumbs-up"></i>
            <% end %>
            <span>
              <%= link_to party_session_party_game_teams_path(game.party_session_id, game.id) do%>
                <i class="fas fa-users"></i>
              <% end %>
            </span>
            <%= link_to party_game_path(game), method: :delete, data: {confirm: "Are you sure you want to remove this game?"} do%>
              <i class="fas fa-trash-alt text-red"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
</div>
