<div class="game-display">
  <div class="game-show-image">
    <%= image_tag @game_image, class: "game-card-img dark" %>
  </div>
  <div class="game-card">
    <div class="game-info-text">
      <h2><%= @hotgame.title %></h2>
      <p><%= @hotgame.description %></p>
    </div>
    <div class="game-show-footer fixed-bottom">
      <div class="game-extras mx-4">
        <p><i class="far fa-clock"></i><%= @hotgame.duration %> min</p>
        <p><i class="fas fa-users"></i><%= @hotgame.suggested_numplayers %> players</p>
      </div>
      <div class="show-page-buttons mt-3">
        <a href="/games"><i class="fas fa-chevron-left thumb-icon-games" class="game-show-icon"></i></a>
        <%= simple_form_for(@hotgame) do |f|%>
          <%= f.hidden_field :title, value: @hotgame.title %>
          <%= f.hidden_field :description, value: @hotgame.description %>
          <%= f.hidden_field :duration, as: :integer, value: @hotgame.duration %>
          <%= f.hidden_field :suggested_numplayers, :label => "Suggested Players", as: :integer, value: @hotgame.suggested_numplayers %>
          <%= f.hidden_field :photo, as: :file %>
          <%= hidden_field_tag :image_url, @game_image %>
          <%#= f.submit "Save", class: "btn ml-2 text-primary" %>
           <%= button_tag(class: "save-btn " ) do %>
            <i class="far fa-bookmark save-icon" class="save-btn"></i>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>
