<div class="container mt-3 mb-3" data-controller="games-api">
  <h1 class="text-center">Games Library</h1>

  <div class="mt-5 my-games">
    <div class="title-box">
      <h3>Collection</h3>
      <div class="title-button">
        <%= link_to new_game_path do %>
          <div class="btn app-party-btn-small"><i class="fas fa-puzzle-piece ml-2"></i> <span>New</span></div>
        <% end %>
      </div>
    </div>
    <div class="games-list">
      <% @games.each do |game| %>
        <div class="game">
          <% if game.photo.attached? %>
            <a href="games/<%=game.id%>"><%= cl_image_tag game.photo.key,class:"games-img"%></a>
          <% else %>
            <a href="games/<%=game.id%>"><%= image_tag "chess-piece.jpeg", class:"games-img"  %></a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-5 hot-games">
    <h3>Hot Games</h3>
    <div class="games-list hot-games-carousel" data-games-api-target="query">
    </div>
  </div>

  <div class="mt-5 suggested-games">
    <h3>Recommended</h3>
    <div class="games-list">
      <% @hotgames.each do |game| %>
        <div class="game">
          <% if game.photo.attached? %>
            <a href="games/<%=game.id%>"><%= cl_image_tag game.photo.key,class:"games-img suggested"%></a>
          <% else %>
            <a href="games/<%=game.id%>"><%= image_tag "chess-piece.jpeg", class:"games-img suggested"  %></a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
