<div class="container mt-3">
  <h1 class="text-center">My Games</h1>
  <%= link_to new_game_path do %>
    <i class="fas fa-puzzle-piece fa-2x ml-2"></i> <span>Add new Game</span>
  <% end %>
  <div class="games-list">
    <% @games.each do |game| %>
      <div class="mt-4 game">
        <% if game.photo.attached? %>
          <a href="games/<%=game.id%>"><%= cl_image_tag game.photo.key,class:"games-img"%></a>
        <% else %>
          <a href="games/<%=game.id%>"><%= image_tag asset_path("chess-piece.jpeg"), class:"games-img"  %></a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
