<div class="container mt-3">
  <%= link_to "Edit Game", edit_game_path(@game), class: "btn btn-primary m-2" %>
  <div class="game-card">
  <% if @game.photo.attached? %>
    <%= cl_image_tag @game.photo.key, class: "game-card-img" %>
  <% else %>
    <%= image_tag asset_path("chess-piece.jpeg"), class: "game-card-img" %>
  <% end %>
    <div class="game-info">
      <h2><%= @game.title %></h2>
      <p><%= @game.description %></p>
    </div>
    <div class="game-extras">
      <p><i class="far fa-clock"></i><%= @game.duration %> min</p>
      <p><i class="fas fa-users"></i><%= @game.suggested_numplayers %> players</p>
    </div>
  </div>
  </ul>
</div>
