<div class="container mt-5">
  <%= image_tag asset_path("login_logo.png"), style: "height: 150px;width:auto;", class:"login-image mb-4" %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean, label_html: {class: "label-ml-remove"}  if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "LOGIN", class: "login-btn mb-3" %>
    </div>
  <% end %>
  <div class="login-page-links">
    <%= render "devise/shared/links"%>
  </div>
  <br>
</div>
