    <% if @party_game.game.photo.attached? %>
      <%= cl_image_tag @party_game.game.photo.key,class:"game-vote-img"%>
    <% else %>
      <%= image_tag "chess-piece.jpeg", class:"game-vote-img"  %>
    <% end %>
<div class="d-flex justify-content-around position-relative" id="vote-btns">
  <%= simple_form_for [@party_session, @party_game, @vote] do |f| %>
    <%= f.input :vote,  as: :hidden, input_html: { value: 0} %>
    <%= button_tag(class: "vote-btn-single vote-circle-no") do  %>
      <i class="fas fa-times vote-no"></i>
    <% end %>
  <% end %>
  <div class="TEST">
    <%= button_tag class: "vote-btn-single vote-circle-details", data: { toggle: "modal", target: "#game-vote-details-modal"} do  %>
        <i class="fas fa-info"></i>
    <% end %>

    <div class="modal" id="game-vote-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title"><%= @party_game.game.title %></h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <p><%= @party_game.game.description %></p>
             <div class="game-extras mx-4">
              <p class="game-extra-text"><i class="far fa-clock"></i><%= @party_game.game.duration %> mins</p>
              <p class="game-extra-text"><i class="fas fa-users"></i><%= @party_game.game.suggested_numplayers %> players</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-info"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= simple_form_for [@party_session, @party_game, @vote] do |f| %>
    <%= f.input :vote,  as: :hidden, input_html: { value: 1} %>
    <%= button_tag(class: "vote-btn-single vote-circle-yes" ) do %>
      <i class="fas fa-heart vote-yes"></i>
    <% end %>
  <% end %>
</div>
