<div class="container">
  <h1 class="sessions mt-3 text-center">Dashboard</h1>
  <br>

  <% if @upcoming_party_sessions.empty? %>
   <h2 class="sessions mb-3">Ongoing</h2>
    <% @ongoing_party_sessions.each do |party| %>
      <div class="party-card mb-3">
        <%= link_to party.title, party_session_path(party) %>
        <h3><%= party.start_date %> - <%= party.end_date %></h3>
        <p><%= party.description %></p>
      </div>
    <% end %>
  <% end %>
  <h2 class="sessions mb-3">Upcoming</h2>
  <% @upcoming_party_sessions.each do |party| %>
    <div class="party-card mb-3">
      <%= link_to party.title, party_session_path(party) %>
      <h3><%= party.start_date %> - <%= party.end_date %></h3>
      <p><%= party.description %></p>
    </div>
  <% end %>
  <h2 class="mb-3">Previous</h2>
  <% @previous_party_sessions.each do |party| %>
    <div class="dashboard-card-past mb-3">
      <%= link_to party.title, party_session_path(party) %>
      <h3><%= party.start_date %> - <%= party.end_date %></h3>
      <p><%= party.description %></p>
    </div>
  <% end %>
</div>
