<div class="container">
  <h1 class="sessions mt-3 text-center">Dashboard</h1>
  <br>

  <% unless @upcoming_party_sessions.empty? %>
    <h2 class="sessions mb-3">Ongoing Game Night</h2>
    <% @ongoing_party_sessions.each do |party| %>
      <%= link_to party_session_path(party) do%>
      <div class="party-card mb-3">
        <div>
          <p class="p-header"><%= party.title %></p>
          <p><%= party.start_date.strftime("%a %e %b %Y at %H:%M") %> - <br><%= party.end_date.strftime("%a %e %b %Y at %H:%M") %></p>
        </div>
        <% if party.user.photo.attached? %>
          <%= cl_image_tag party.user.photo.key, class: "avatar-large"%>
        <% else %>
          <i class="fas fa-chess-knight navbar-empty-avatar-large"></i>
        <% end %>
      </div>
      <% end %>
  <% end %>
  <% end %>

  <h2 class="sessions mb-3">Upcoming Game Nights</h2>
    <% @upcoming_party_sessions.each do |party| %>
    <%= link_to party_session_path(party) do %>
    <div class="party-card mb-3">
      <div>
        <p class="p-header"><%= party.title %></p>
        <p><%= party.start_date.strftime("%a %e %b %Y at %H:%M") %> - <br><%= party.end_date.strftime("%a %e %b %Y") %></p>
      </div>
      <% if party.user.photo.attached? %>
          <%= cl_image_tag party.user.photo.key, class: "avatar-large"%>
      <% else %>
          <i class="fas fa-chess-knight navbar-empty-avatar-large"></i>
      <% end %>
    </div>
  <% end %>
  <% end %>

  <h2 class="sessions mb-3">Previous Game Nights</h2>
  <% @previous_party_sessions.each do |party| %>
    <%= link_to party_session_path(party) do %>
    <div class="dashboard-card-past mb-3">
      <div>
        <p class="p-header"><%= party.title %></p>
        <p><%= party.start_date.strftime("%a %e %b %Y at %H:%M") %> - <br><%= party.end_date.strftime("%a %e %b %Y") %></p>
      </div>
      <% if party.user.photo.attached? %>
          <%= cl_image_tag party.user.photo.key, class: "avatar-large"%>
      <% else %>
          <i class="fas fa-chess-knight navbar-empty-avatar-large"></i>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
