<div class="container">
  <%= link_to party_sessions_path do %>
    <i class="fas fa-chevron-left thumb-icon-games-back summary-back"></i>
  <% end %>
  <h1 class="mt-2 text-center">
  <%= @party_session.title %>
  </h1>
  <div class="text-right mr-3">
  </div>
  <div class="summary-cards">
    <%= link_to party_session_path(@party_session) do %>
      <div class="party-card">
        <h3>Party Details</h3>
        <i class="fas fa-angle-double-right fa-2x"></i>
      </div>
    <% end %>
    <%= link_to party_session_party_games_path(@party_session) do %>
      <div class="party-card">
        <h3>Games</h3>
        <i class="fas fa-angle-double-right fa-2x"></i>
      </div>
    <% end %>
    <%= link_to party_session_guests_path(@party_session) do %>
    <div class="party-card">
      <h3>Guests</h3>
      <i class="fas fa-angle-double-right fa-2x"></i>
    </div>
    <% end %>
    <%= link_to party_session_chatroom_path(@party_session, @party_session.chatroom) do %>
    <div class="party-card">
      <h3>Party Chat Sesh</h3>
      <i class="fas fa-angle-double-right fa-2x"></i>
    </div>
  </div>
  <% end %>
</div>
